/* List of lifts */
.wrapper {
  display: flex;
  background-color: var(--bg2);
  border: 2px solid var(--border);
  border-radius: 0.5em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.wrapper :last-child {
  border: none;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.8em 1em;
  background-color: var(--bg3);
  border-bottom: 2px solid var(--border);
  border-radius: 0.4em 0.4em 0 0;
}
.header > p {
  display: flex;
  align-items: center;
}
.header > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

/* Lift card */
.item {
  border-bottom: 2px solid var(--border);
  display: flex;
  width: 100%;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.8em 1em;
  white-space: nowrap;
  overflow: scroll !important;
  text-overflow: ellipsis;
}
.itemleft a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.itemright {
  display: flex;
  align-items: center;
}
.itemright svg {
  scale: 1.3;
}
.itemleft {
  display: block;
}
.itemleft :nth-child(1) {
  font-size: 1.1em;
}
.itemleft :nth-child(2) {
  color: var(--color2);
  font-size: 0.8em;
}

@media screen and (max-width: 600px) {
  .itemright svg {
    scale: 1;
  }
}
@media screen and (max-width: 600px) {
  .header svg {
    scale: 0.9;
  }
}
