/* Wrapper */
.wrapper {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  backdrop-filter: blur(1px) brightness(50%);
  z-index: 1;
}
.inner {
  display: flex;
  flex-direction: column;
  padding: 2em;
  background-color: var(--bg2);
  width: calc(100% - 2em);
  max-width: calc(700px - 2em);
  margin-bottom: 1em;
  border-radius: .5em;
  border: 2px solid var(--border);
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  gap: 2em;
}
.header input {
  display: flex;
  background-color: transparent;
  border: 0;
  width: 100%;
  color: var(--color);
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.header h1 {
  font-size: 1.5em;
  overflow: hidden;
}
.buttons button {
  display: flex;
  align-items: center;
  width: min-content;
  height: min-content;
  gap: 0.5em;
  font-size: 0.8em;
  background-color: var(--bg3);
  border: 2px solid var(--border);
  color: var(--text);
  padding: 0.25em 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
}
.buttons {
  display: flex;
  gap: 1em;
}
.buttons :nth-child(1) svg {
  scale: .9;
}


.inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
}
.inputs > div {
  display: flex;
  justify-content: center;
  gap: .5em;
  flex-direction: column;
}
.inputs input {
  background-color: var(--bg3);
  border: 2px solid var(--border);
  border-radius: .5em;
  padding: .3em .6em;
  color: var(--color);
}

